{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "globals": {
      "module": true
    },
    "react/jsx-closing-tag-location": [1, "tag-aligned"],
    "no-console": "off",
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.6.0"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}